@import 'common/variables';
@import 'common/animations';
@import 'common/scrollbar';

:root {
  --primary-color: #28AAE1;
  --secondary-color: #F7941C;
  --link-color: #45cfe5;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero-bg {
  --hero-gradient-bg-1: var(--neon-1-1);
  --hero-gradient-bg-2: var(--neon-1-2);
  --hero-gradient-bg-3: var(--neon-2-1);
  --hero-gradient-bg-4: var(--neon-2-2);
  position: absolute;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  .radial-container {
    position: absolute;
    width: 100%;
    height: 100%;

    .radial-gradient {
      position: absolute;
      width: 100%;
      left: unset;
      aspect-ratio: 1/1;
      height: unset;
      bottom: -60%;
      filter: blur(100px);
      transform: translateZ(0);
      opacity: 20%;
      background: radial-gradient(ellipse at center,
              var(--hero-gradient-bg-1) 0%,
              var(--hero-gradient-bg-2) 25%,
              var(--hero-gradient-bg-3) 50%,
              var(--hero-gradient-bg-4) 100%);
      z-index: -1;

      animation: fogWaveLR 10s linear infinite,
      fogWaveTB 15s linear infinite,
      fogPulse 8s ease-in-out infinite,
      fogRotate 20s linear infinite,
      starsFloating 20s linear infinite;
    }
  }
}